In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("VideoGamesSalesDataset.csv")

In [4]:
df.head()

  Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Rating
0  Wii Sports,Wii,2006,Sports,Nintendo,41.36,28.9...
1  Super Mario Bros.,NES,1985,Platform,Nintendo,2...
2  Mario Kart Wii,Wii,2008,Racing,Nintendo,15.68,...
3  Wii Sports Resort,Wii,2009,Sports,Nintendo,15....
4  Pokemon Red/Pokemon Blue,G,1996,Role-Playing,N...

In [5]:
df.shape  # Returns (rows, columns)

(17416, 1)

In [6]:
df.isnull()

       Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Rating
0                                                  False
1                                                  False
2                                                  False
3                                                  False
4                                                  False
...                                                  ...
17411                                              False
17412                                              False
17413                                              False
17414                                              False
17415                                              False

[17416 rows x 1 columns]

In [7]:
df.isnull().any()

Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Rating    False
dtype: bool

In [8]:
df.isnull().sum()

Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Rating    0
dtype: int64

In [9]:
print(df.isnull().values.any())

False

In [10]:
df_no_missing = df.dropna()

In [11]:
df_no_missing.isnull().sum()

Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Rating    0
dtype: int64

In [12]:
df_cleaned = df.dropna(how='all')
df_cleaned.shape  # Check new shape

(17416, 1)

In [13]:
df_without_columns = df.dropna(axis=1, how='all')
df_without_columns.shape  # Check new shape

(17416, 1)

In [14]:
df_filtered = df.dropna(thresh=5)
df_filtered.shape  # Check new shape

(0, 1)

In [15]:
df.shape  # Compare with previous shapes

(17416, 1)